<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex justify-content-between">
                <nav class="col navbar navbar-expand-md navbar-light bg-white">
                    <a class="navbar-brand " href="#">TOUR-GUIDE</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" aria-label="navigation">
                        <span class="navbar-toggler-icon"></span>

                    </button>
                    <div class="collapse navbar-collapse" id="navbar">
                        <div class="navbar-nav">
                            <a class="nav-link" href="#">Stories</a>
                            <a class="nav-link" href="">Gallery</a>
                            <a class="nav-link" href="">Features</a>
                            <a class="nav-link" href="">Write to us</a>
                        </div>
                    </div>
                </nav>
                <div class="col"></div>
            </div>
        </div>
    </div>
    </div>
</header>