<header class="header">
    <div class="container container-md">
        <div class="row">
            <div class="col-12 d-flex justify-content-between">
                <nav class="col-6 navbar navbar-expand-md navbar-light bg-white">
                    <a class="navbar-brand " href="#">TOUR-GUIDE</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" aria-label="navigation">
                        

                    </button>
                    <div class="collapse navbar-collapse" id="navbar">
                        <div class="navbar-nav">
                            <a class="nav-link" href="#">Stories</a>
                            <a class="nav-link" href="">Gallery</a>
                            <a class="nav-link" href="">Features</a>
                            <a class="nav-link" href="">Write to us</a>
                        </div>
                    </div>
                </nav>
                <div class="col-6 d-flex justify-content-end">
                    
                        <ul class="list-group list-group-flush list-group-horizontal ">
                            <li class="list-group-item">
                            <a href="https://twitter.com/"><img src="./img/twitter-128.png" width="20" alt="twitter"></a>
                            </li>
                            
                            <li class="list-group-item">
                            <a href="https://facebook.com/"><img src="./img/facebook-128.png" width="20" alt="facebook"></a>
                            </li>
                            <li class="list-group-item">
                                <a href="https://instagram.com/"><img src="./img/instagram-2-128.png" width="20" alt="instagram"></a>
                            </li>
                            <li class="list-group-item">
                                <a href="https://youtube.com/"><img src="./img/youtube-128.png" width="20" alt="youtube"></a>
                            </li>
                            <li class="list-group-item">
                                <a href="https://mail.google.com/"><img src="./img/gmail-128.png" width="20" alt="mail"></a>
                            </li>
                        </ul>
                    
                </div>
            </div>
        </div>
    </div>
    </div>
</header>